#Python Programming Lab
##Experiment 4:Loops

###Q1Find a factorial of given number.

In [ ]:
n = 5

factorial = 1

for i in range(1, n + 1):
    factorial = factorial * i

factorial

120

###Q2Find whether the given number is Armstrong number.

In [3]:

num = 153

temp = num
sum = 0

while temp > 0:
    digit = temp % 10
    sum = sum + digit**3
    temp = temp // 10

if sum == num:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Armstrong Number

###Q3Print Fibonacci series up to given term.

In [4]:
n = 10   # number of terms

a = 0
b = 1

print(a)
print(b)

for i in range(2, n):
    c = a + b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

###Q4Write a program to find if given number is prime number or not.

In [5]:
num = 7

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print("Not a Prime Number")
            break
    else:
        print("Prime Number")
else:
    print("Not a Prime Number")

Prime Number

###Q5Check whether given number is palindrome or not.

In [6]:
num = 121

temp = num
reverse = 0

while temp > 0:
    digit = temp % 10
    reverse = reverse * 10 + digit
    temp = temp // 10

if reverse == num:
    print("Palindrome Number")
else:
    print("Not a Palindrome Number")

Palindrome Number

###Q6Write a program to print sum of digits.

In [7]:
num = 1234

temp = num
sum_of_digits = 0

while temp > 0:
    digit = temp % 10
    sum_of_digits = sum_of_digits + digit
    temp = temp // 10

sum_of_digits

10

###Q7Count and print all numbers divisible by 5 or 7 between 1 to 100.

In [8]:
count = 0

for num in range(1, 101):
    if num % 5 == 0 or num % 7 == 0:
        print(num)
        count = count + 1

print("Total numbers:", count)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100
Total numbers: 32

###Q8Convert all lower cases to upper case in a string.

In [9]:
text = "hello python programming"

upper_text = text.upper()

upper_text

'HELLO PYTHON PROGRAMMING'

###Q9Print all prime numbers between 1 and 100.

In [10]:
for num in range(2, 101):
    is_prime = True
    
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

###Q10Print the table for a given number:  
5 * 1 = 5 
5 * 2 = 10

In [11]:
num = 5

for i in range(1, 11):
    print(num, "*", i, "=", num * i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50