#Python Programming Lab
##Experiment 6:Lists, tuples, dictionary 

###1.Scan n values in range 0-3 and print the number of times each value has occurred.

In [2]:
values = [0, 1, 2, 1, 0, 3, 2, 1, 0]  
count = [0, 0, 0, 0]

for val in values:
    if 0 <= val <= 3:
        count[val] += 1

for i in range(4):
    print(f"Number {i} occurred {count[i]} times")

Number 0 occurred 3 times
Number 1 occurred 3 times
Number 2 occurred 2 times
Number 3 occurred 1 times

###2.Create a tuple to store n numeric values and find the average of all values.

In [3]:
numbers = (10, 20, 30, 40, 50)

total = sum(numbers)

average = total / len(numbers)

average

30.0

###3.WAP to input a list of scores for N students in a list data type. Find the score of the runner-up and print the output. 
Sample Input 
N = 5 
Scores= 2 3 6 6 5 
Sample output 
5 
Note: Given list is [2, 3, 6, 6, 5]. The maximum score is 6, second maximum is 5. Hence, we print 5 as the runner-up score.

In [4]:
scores = [2, 3, 6, 6, 5]

unique_scores = list(set(scores))

unique_scores.sort(reverse=True)

runner_up = unique_scores[1]

runner_up

5

###4.Create a dictionary of n persons where key is name and value is city.  
a.	Display all names 
b.	Display all city names 
c.	Display student names and cities of all students. 
d.	Count the number of students in each city.

In [5]:
students = {
    "Rohit": "Delhi",
    "Anita": "Mumbai",
    "Vansh": "Delhi",
    "Neha": "Kolkata",
    "Aman": "Mumbai"
}

print("Names of students:", list(students.keys()))

print("Cities:", list(students.values()))

print("Student Names and Cities:")
for name, city in students.items():
    print(name, "-", city)

city_count = {}
for city in students.values():
    if city in city_count:
        city_count[city] += 1
    else:
        city_count[city] = 1

print("Number of students in each city:", city_count)

Names of students: ['Rohit', 'Anita', 'Vansh', 'Neha', 'Aman']
Cities: ['Delhi', 'Mumbai', 'Delhi', 'Kolkata', 'Mumbai']
Student Names and Cities:
Rohit - Delhi
Anita - Mumbai
Vansh - Delhi
Neha - Kolkata
Aman - Mumbai
Number of students in each city: {'Delhi': 2, 'Mumbai': 2, 'Kolkata': 1}

###5.Store details of n movies in a dictionary by taking input from the user. Each movie must store details like name,  year, director name, production cost, collection made (earning) & perform the following :- 
a.	print all movie details 
b.	display name of movies released before 2015 
c.	print movies that made a profit. 
d.	print movies directed by a particular director.

In [6]:
movies = {
    "Movie1": [2010, "DirectorA", 50, 100],
    "Movie2": [2016, "DirectorB", 60, 55],
    "Movie3": [2014, "DirectorA", 70, 150],
    "Movie4": [2018, "DirectorC", 40, 80]
}

print("All Movie Details:")
for name, details in movies.items():
    print(name, ":", details)

print("\nMovies released before 2015:")
for name, details in movies.items():
    if details[0] < 2015:
        print(name)

print("\nMovies that made a profit:")
for name, details in movies.items():
    if details[3] > details[2]:
        print(name)

director_name = "DirectorA"
print(f"\nMovies directed by {director_name}:")
for name, details in movies.items():
    if details[1] == director_name:
        print(name)

All Movie Details:
Movie1 : [2010, 'DirectorA', 50, 100]
Movie2 : [2016, 'DirectorB', 60, 55]
Movie3 : [2014, 'DirectorA', 70, 150]
Movie4 : [2018, 'DirectorC', 40, 80]

Movies released before 2015:
Movie1
Movie3

Movies that made a profit:
Movie1
Movie3
Movie4

Movies directed by DirectorA:
Movie1
Movie3