#Python Programming Lab
##Experiment 2: Use of input statements, operators 
 
###1.Declare these variables (x, y and z) as integers. Assign a value of 9 to x. Assign a value of 7 to y, perform addition, multiplication, division and subtraction on these two variables and print out the result.

In [1]:
x = 9
y = 7

addition = x + y
multiplication = x * y
division = x / y
subtraction = x - y

print("Addition:", addition)
print("Multiplication:", multiplication)
print("Division:", division)
print("Subtraction:", subtraction)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

###2.Write a Program where the radius is taken as input to compute the area of a circle.

In [8]:
# Program to calculate area of a circle

radius = 5

area = 3.14 * radius * radius

area

78.5

###3.Write a Python program to solve (x+y)*(x+y)

In [6]:
x = 4
y = 6

result = (x + y) * (x + y)

result

100

###4.Test data: x = 4, y = 3 
5.Expected output: 49

In [ ]:
x = 4
y = 3

result = (x + y) * (x + y)

result

49

###6.Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.

In [12]:
a = 3
b = 4

c = (a*a + b*b) ** 0.5

c

5.0

###7.Write a program to find simple interests.

In [13]:
P = 1000    
R = 5        
T = 2        

SI = (P * R * T) / 100

SI

100.0

###8.Write a program to find area of triangle when length of sides are given.

In [14]:
a = 3
b = 4
c = 5

s = (a + b + c) / 2

area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

area

6.0

###9.Write a program to convert given seconds into hours, minutes and remaining seconds.

In [15]:
total_seconds = 3665

hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600

minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

hours, minutes, seconds

(1, 1, 5)

###10.Write a program to swap two numbers without taking additional variable.

In [ ]:
a = 10
b = 20

a, b = b, a

a, b

(20, 10)

###11.Write a program to find sum of first n natural numbers

In [ ]:
n = 10

sum_n = n * (n + 1) / 2

sum_n

55.0

###12.Write a program to print truth table for bitwise operators (&, |, and ^ operators)

In [ ]:
print("A B  A&B  A|B  A^B")
print("--------------------")

for A in [0, 1]:
    for B in [0, 1]:
        print(A, B, "  ", A & B, "   ", A | B, "   ", A ^ B)

A B  A&B  A|B  A^B
--------------------
0 0    0     0     0
0 1    0     1     1
1 0    0     1     1
1 1    1     1     0

###13.Write a program to find left shift and right shift values of a given number.

In [ ]:
num = 8

left_shift = num << 1
right_shift = num >> 1

num, left_shift, right_shift

(8, 16, 4)

###14.Using membership operator find whether a given number is in sequence (10,20,56,78,89)

In [ ]:
sequence = (10, 20, 56, 78, 89)

num = 56

num in sequence

True

###15.Using membership operator find whether a given character is in a string

In [ ]:
text = "Hello Python"

ch = "P"

ch in text