#Python Programming Lab
##Experiment 1: Python Installation and starting with python

###1. Install Python and understand difference between scripting and interactive modes in IDLE.

In [1]:
#Scripting Mode: Write Python code in a .py file, then run the full program at once.
name = "Vansh Panwar"
print("Hello", name)

Hello Vansh Panwar

In [2]:
#Interactive Mode: Have to type Python commands one by one, and Python gives the output immediately.
5 + 2
7
name = "Vansh Panwar"
name
'vansh'

'vansh'

###Write Python programs to print strings in the given manner:
a) Hello Everyone !!!
b) Hello
World
c) Hello
World
d) ‘ Rohit’ s date of birth is 12\05\1999’

In [3]:
print("Hello Everyone")

Hello Everyone

In [4]:
print("Hello\nWorld")

Hello
World

In [5]:
print("Hello \n   World")

Hello
   World

In [6]:
print("Vansh Panwar date of birth is 12\\05\\1999")

Vansh Panwar date of birth is 12\05\1999

###3.Declare a string variable called x and assign it the value “Hello”.
Print out the value of x

In [7]:
x = "Hello"
print(x)

Hello

###4.Take different data types and print values using print function.

In [8]:
name = "Vansh Panwar"      
age = 20             
height = 6.01           
is_student = True      
marks = [82, 87, 80]   

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)
print("Marks:", marks)

Name: Vansh Panwar
Age: 20
Height: 6.01
Is Student: True
Marks: [82, 87, 80]

###5.Take two variables, a and b. Assign your first name and last name. Print your Name after adding your First name and Last name together.

In [1]:

a = "Vansh"    
b = "Panwar"     

full_name = a + " " + b

print("My Name is:", full_name)

My Name is: Vansh Panwar

###6.Declare three variables, consisting of your first name, your last name and Nickname. Write a program that prints out your first name, then your nickname in parenthesis and then your last name.

In [2]:
first_name = "Vansh"
last_name = "Panwar"
nickname = "Vanshu"

print(first_name + " (" + nickname + ") " + last_name)

Vansh (Vanshu) Panwar

###7.Declare and assign values to suitable variables and print in the following way:
NAME: NIKUNJ BANSAL   
SAP ID: 500069944 
DATE OF BIRTH: 13 Oct 1999 
ADDRESS: UPES 
                    Bidholi Campus 
                    Pincode: 248007 
Programme:AI & ML                                                     
Semester: 2

In [4]:
first_name = "Vansh"
last_name = "Panwar"
sap_id = 590021102
dob = "3 Mar 2006"
address_line1 = "UPES"
address_line2 = "Bidholi Campus"
pincode = 247451
programme = "BCA"
semester = 2


print("NAME:", first_name.upper(), last_name.upper())
print("SAP ID:", sap_id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", address_line1)
print("         ", address_line2)
print("         Pincode:", pincode)
print("Programme:", programme)
print("Semester:", semester)

NAME: VANSH PANWAR
SAP ID: 590021102
DATE OF BIRTH: 3 Mar 2006
ADDRESS: UPES
          Bidholi Campus
         Pincode: 247451
Programme: BCA
Semester: 2